@font-face {
    font-family: 'alk';
    src: url(alkes.ttf);
}

body {
    font-family: 'alk', Courier, sans-serif;
    background-color: #ffffff;
}

.quote-container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quote {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#author {
    font-size: 18px;
    color: #666;
}

#generate-btn {
    background-color: #4ca3af;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'alk', Courier, monospace;
}

#generate-btn:hover {
    background-color: #3e5e8e;
}